<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jayanta Debnath - NagaEd Test 1</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#000",
            },
            fontFamily: {
              sans: ["Urbanist", "sans-serif"],
            },
          },
        },
      };
    </script>
  </head>
  <body>
    <div class="flex justify-center items-center w-full h-screen flex-col gap-10">
      <h1 class="text-3xl">Welcome to Jayanta's NagaEd Task</h1>
      <a href="/register" class="px-10 py-5 bg-violet-600 text-white rounded-lg">Register?</a>
    </div>
  </body>
</html>
